.git/
.idea/
.vs/
.vscode/
.claude/
.aspire/

**/bin/
**/obj/

tests/
aspire/ALB.AppHost/
aspire/ALB.MigrationService/
aspire/ALB.AppHost/aspire-output/

*.md
*.log
*.user
*.DotSettings.user
test_output.log
